@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=Mochiy+Pop+P+One&family=Noto+Sans&family=Source+Sans+Pro&display=swap');

*{
 direction: rtl; 
 font-family: 'Arimo', sans-serif;
}

html, body {
  margin: 0;
  padding: 0; 
}

header {
  background-color: #eaedf2;
}

footer {
  background-color: #c7f0c1;
  margin-bottom: 0; 
}

.checkMark{
  color: green; 
  font-size: 40px; 
  font-weight: bold; 
}

.content{
  height: 500px;
}

.prevImage {
  width: 300px;
  height: 300px; 
  object-fit: cover;
}

label {
  padding-right: 3px; 
}